<script src="https://apis.google.com/js/api.js"></script>
<script src="../../socket.io/socket.io.js"></script>
<script type="text/javascript" src="http://localhost:4000/js/clientSocket.js"></script>
</body>
</html>
