<%- include('header') %>

<div class="container">
    <button onclick="authenticate().then(loadClient)">authorize and load</button>
    <button onclick="execute()">execute</button>

</div>

<%- include('footer') %>
