<%- include('header') %>
<div class="container">

    <div class="jumbotron text-center">

        <p>Login or Register with:</p>

        <a href="<%= url %>" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
    </div>

</div>
<%- include('footer') %>
